<div class="mx-auto p-2 border border-primary border-3 w-50">
  <h2 class="text-center">Template Driven Form</h2>
</div>

<div class="container-fluid w-50 py-5">
  <h3 class="text-center border border-success rounded-5">Bootcamp Enrollment Form</h3>
  
  <!-- {{userForm.value | json}}
  <hr />
  {{userModel | json}} -->

  {{name.touched}}
  
  <form #userForm="ngForm">
    <div class="form-group py-2">
      <label>Name</label>
      <input type="text" class="form-control" name="name" required [(ngModel)]="userModel.name" #name="ngModel" [class.is-invalid]="name.invalid && name.touched">
      <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is required</small>
    </div>

    <div class="form-group py-2">
      <label>Email</label>
      <input type="email" class="form-control" name="email" [(ngModel)]="userModel.email">
    </div>

    <div class="form-group py-2">
      <label>Phone</label>
      <input type="tel" class="form-control" name="phone" [(ngModel)]="userModel.phone" #phone="ngModel" required pattern="^\d{10}$" [class.is-invalid]="phone.invalid && phone.touched">
      <!-- <small [class.d-none]="phone.valid || phone.untouched">Phone number is required and must be 10 digits</small> -->
      <div *ngIf="phone.errors && (phone.invalid || phone.touched)">
        <small class="text-danger" *ngIf="phone.errors.required">Phone number required</small>
        <small class="text-danger" *ngIf="phone.errors.pattern">Phone number number must be 10 digits</small>
      </div>
    </div>

    <div class="form-group py-2">
      <label>Choose one</label>
      <select class="form-select" name="topic" [(ngModel)]="userModel.topic">
        <option value="">---I am interested in---</option>
        <option *ngFor="let topic of topics">{{ topic }}</option>
      </select>
    </div>

    <div class="py-2">
      <label>Time preference</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="timePreference" value="morning" [(ngModel)]="userModel.timePreference">
        <label class="form-check-label">Morning(9AM - 12PM)</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="timePreference" value="evening" [(ngModel)]="userModel.timePreference">
        <label class="form-check-label">Evening(5PM - 8PM)</label>
      </div>
    </div>

    <div class="form-check py-2">
      <input class="form-check-input" type="checkbox" name="subscribe" [(ngModel)]="userModel.subscribe">
      <label class="form-check-label">
        Send me promotional offers
      </label>
    </div>

    <div class="row justify-content-center">
      <button class="btn btn-primary mt-5 w-50" type="submit">Submit Form</button>
    </div>

    <!-- code for ngModelGroup -->
    <!-- <div ngModelGroup="address">
      <div class="form-group py-2">
        <label>State</label>
        <input type="text" class="form-control" name="state" ngModel>
      </div>

      <div class="form-group py-2">
        <label>City</label>
        <input type="city" class="form-control" name="city" ngModel>
      </div>

      <div class="form-group py-2">
        <label>Pincode</label>
        <input type="pin" class="form-control" name="pin" ngModel>
      </div>
    </div> -->
  </form>
</div>